[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==2.*"
django-rest-framework = "*"
djangorestframework = "*"
"psycopg2" = "*"
pytest = "*"
django-heroku = "*"
gunicorn = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
